[submodule "code/backend"]
	path = code/backend
	url = https://github.com/BreadstickoSaurus/backend.git
[submodule "code/frontend"]
	path = code/frontend
	url = https://github.com/BreadstickoSaurus/frontend.git
[submodule "code/data"]
	path = code/data
	url = https://github.com/BreadstickoSaurus/data.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/BreadstickoSaurus/documentation.git
